
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/


/node_modules/
/package-lock.json


/.env

/.angular-cli.json
/.ng/

*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*


PIA_2425_projekat (2).docx
project_structure.txt


