<div class="vikendica-details-container">
  <!-- Left: Carousel -->
  <div id="vikendicaCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
      @for (photo of vikendica.Photos; track $index) {
        <button type="button"
                data-bs-target="#vikendicaCarousel"
                [attr.data-bs-slide-to]="$index"
                [class.active]="$index === 0"></button>
      }
    </div>

    <div class="carousel-inner">
      @for (photo of vikendica.Photos; track $index) {
        <div class="carousel-item" [class.active]="$index === 0">
          <img
            src="http://localhost:4000{{photo}}"
            class="d-block w-100"
            alt="Photo of {{ vikendica.Title }}"
          >
        </div>
      }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#vikendicaCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#vikendicaCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Right: Details -->
  <div class="vikendica-details-info">
    <h2>{{ vikendica.Title }}</h2>
    <p class="price">{{ vikendica.PriceSummer }} € / night</p>
       <div class="map-container">
      <div #mapContainer class="map"></div>
    </div>
    <p class="description">{{ vikendica.Description }}</p>

    <button class="btn btn-primary" (click)="BookCottage()">Book Now</button>
  </div>
</div>
